body { 
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-color:white;
}

a {
  color:white;
}
.headTitle {
  font-size: 100px;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 50px;
}
.btn-default {
  color: #FFF;
  background-color: #3A3535;
  border-color: #ccc;
  height: 35px;
}
footer {
  margin-top: 200px;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10px;
}
footer a {
  color:black;
}

h2 {
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
}

.jumbotron {
  background-color: rgba(232, 218, 229, 0.64);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
}
.jumbotron h1 {
  font-family: 'Cinzel'serif;
}

.main-header {
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 50px;
  text-align: center;
}
.navbar {
  min-height: 30px;
}
.navbar-nav > li > a, .navbar-brand {
  padding-top: 5px;
  padding-bottom: 0;
  height:30px;
}

.navbar li {
  font-family: 'Josefin Sans', sans-serif;
}
.navbar-brand {
  float: left;
  padding-top:7px;
  font-size: 18px;
  line-height: 20px;
  color: red;
  font-family: 'Josefin Sans', sans-serif;
}
.overlay {
  background-image: url(../img/imageinfinity_1.jpg);
  background-repeat: no-repeat;
  height:500px;
  background-size:cover;
}

.tanpackages {
  border:1px solid #C0C0C0;
  border-collapse:collapse;
  padding:5px;
}
.tanpackages th {
  border:1px solid #C0C0C0;
  padding:5px;
  background:#F0F0F0;
}
.tanpackages td {
  border:1px solid #C0C0C0;
  padding:5px;
}
.things a {
  color: rgb(85, 113, 186);
}

.things h2 {
  font-size: 25px;
}


@media (max-width: 480px) {
  body {
    background-image:none;
    background-size: cover;
  }

  .overlay {
  background-image: url(../img/imageinfinity_1.jpg);
  background-repeat: no-repeat;
  height:200px;
  background-size:cover;
}
 .main-header h1 {
    font-size: 15px;
  }


.navbar li {
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-brand {
  float: left;
  padding-top:7px;
  font-size: 18px;
  line-height: 20px;
  color: red;
  font-family: 'Josefin Sans', sans-serif;
  }

  .navbar-inverse .navbar-brand {
  padding-top:15px
}

