html,
body {
    height: 100%;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-image: url(../img/beachfront.jpg);
  background-position-y:-250px;
  font-family: 'Cinzel', serif;
  position: relative;
  height:100%;
  width:100%
  min-height:100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.navbar li {
	font-family: 'Cinzel', serif;
}
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Cinzel'serif;
}

.jumbotron {
	  background-color: rgba(232, 218, 229, 0.64);
    font-family: 'Cinzel'serif;
    font-weight: 900;
}
.jumbotron h1 {
    font-family: 'Cinzel'serif;
}

.btn-default {
  color: #FFF;
  background-color: #3A3535;
  border-color: #ccc;
  height: 35px;
}
@media (max-width: 480px) {
  body {
    background:url(../img/beachfront.jpg) no-repeat center fixed;
    background-size:cover; 
    position: relative;

  }


