html {
	background: url(../img/beachfront.jpg) no-repeat center fixed; 
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	font-family: 'Cinzel', serif;
	position: relative;
}

.navbar li {
	font-family: 'Cinzel', serif;
}